# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
Tempo.iml
target/
/.idea/
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/resources/.DS_Store
src/tempo/
